
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section style="background-image: url(assets/images/menu-bg.png);"
         class="our-menu section bg-light repeat-img" id="menu">
    <div class="sec-wp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sec-title text-center mb-5">
                        <p class="sec-sub-title mb-3">our menu</p>
                        <h2 class="h2-title">wake up early, <span>eat fresh & healthy</span></h2>
                        <div class="sec-title-shape mb-4">
                            <img src="assets/images/title-shape.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>


            @{Html.RenderAction("GetCategorys", "Product"); }

        </div>
</section>
<section class="two-col-sec section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="sec-img mt-5">
                    <img src="~/Content/images/pizza.png" alt="">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="sec-text">
                    <h2 class="xxl-title">Chicken Pepperoni</h2>
                    <p>
                        This is Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dolores
                        eligendi earum eveniet soluta officiis asperiores repellat, eum praesentium nihil
                        totam. Non ipsa expedita repellat atque mollitia praesentium assumenda quo
                        distinctio excepturi nobis tenetur, cum ab vitae fugiat hic aspernatur? Quos
                        laboriosam, repudiandae exercitationem atque a excepturi vel. Voluptas, ipsa.
                    </p>
                    <p>
                        This is Lorem ipsum dolor sit amet consectetur adipisicing elit. At fugit laborum
                        voluptas magnam sed ad illum? Minus officiis quod deserunt.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="two-col-sec section pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1 order-2">
                <div class="sec-text">
                    <h2 class="xxl-title">Chicken Pepperoni</h2>
                    <p>
                        This is Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dolores
                        eligendi earum eveniet soluta officiis asperiores repellat, eum praesentium nihil
                        totam. Non ipsa expedita repellat atque mollitia praesentium assumenda quo
                        distinctio excepturi nobis tenetur, cum ab vitae fugiat hic aspernatur? Quos
                        laboriosam, repudiandae exercitationem atque a excepturi vel. Voluptas, ipsa.
                    </p>
                    <p>
                        This is Lorem ipsum dolor sit amet consectetur adipisicing elit. At fugit laborum
                        voluptas magnam sed ad illum? Minus officiis quod deserunt.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-1">
                <div class="sec-img">
                    <img src="~/Content/images/sushi.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
