
@{
    ViewBag.Title = "Sale";
    Layout = null;
}


    @foreach (var product in Model)
    {
        <div class="col mb-5">
            <div class="card h-100 @if (!product.status) { @Html.Raw("bg-light disabled")} @* else { @Html.Raw("bg-white")} *@">
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                <!-- Product image-->
                <img class="card-img-top" src="~/Content/products/@product.image" style="width:140px" @*src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."*@ />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">@product.Productname</h5>
                        <!-- Product price-->
                        <div class="price-container">
                            <span class="discounted-price">$@product.DiscountedPrice</span>
                            <span class="original-price">$@product.price</span>
                        </div>
                    </div>
                </div>
                <!-- Product actions-->
                @if (product.status)
                {
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="#">View options</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto disabled" href="#">View options</a>
                        </div>
                    </div>
                }
            </div>
        </div>

    }




